In [106]:
import pandas as pd
import numpy as np
import re

In [107]:
!head NST-EST2014-01.csv

In [108]:
data = pd.read_csv("NST-EST2014-01.csv", skiprows=3)
data

,Unnamed: 0,Census,Estimates Base,2010,2011,2012,2013,2014
0,United States,"308,745,538","308,758,105","309,347,057","311,721,632","314,112,078","316,497,531","318,857,056"
1,Northeast,"55,317,240","55,318,348","55,381,690","55,635,670","55,832,038","56,028,220","56,152,333"
2,Midwest,"66,927,001","66,929,898","66,972,390","67,149,657","67,331,458","67,567,871","67,745,108"
3,South,"114,555,744","114,562,951","114,871,231","116,089,908","117,346,322","118,522,802","119,771,934"
4,West,"71,945,553","71,946,908","72,121,746","72,846,397","73,602,260","74,378,638","75,187,681"
5,.Alabama,"4,779,736","4,780,127","4,785,822","4,801,695","4,817,484","4,833,996","4,849,377"
6,.Alaska,"710,231","710,249","713,856","722,572","731,081","737,259","736,732"
7,.Arizona,"6,392,017","6,392,310","6,411,999","6,472,867","6,556,236","6,634,997","6,731,484"
8,.Arkansas,"2,915,918","2,915,958","2,922,297","2,938,430","2,949,300","2,958,765","2,966,369"
9,.California,"37,253,956","37,254,503","37,336,011","37,701,901","38,062,780","38,431,393","38,802,500"
10,.Colorado,"5,029,196","5,029,324","5,048,575","5,119,661","5,191,709","5,272,086","5,355,866"
11,.Connecticut,"3,574,097","3,574,096","3,579,345","3,590,537","3,594,362","3,599,341","3,596,677"
12,.Delaware,"897,934","897,936","899,731","907,829","916,881","925,240","935,614"
13,.District of Columbia,"601,723","601,767","605,210","620,427","635,040","649,111","658,893"
14,.Florida,"18,801,310","18,804,623","18,852,220","19,107,900","19,355,257","19,600,311","19,893,297"
15,.Georgia,"9,687,653","9,688,681","9,714,464","9,813,201","9,919,000","9,994,759","10,097,343"
16,.Hawaii,"1,360,301","1,360,301","1,363,950","1,378,251","1,392,766","1,408,987","1,419,561"
17,.Idaho,"1,567,582","1,567,652","1,570,639","1,583,780","1,595,590","1,612,843","1,634,464"
18,.Illinois,"12,830,632","12,831,587","12,840,097","12,858,725","12,873,763","12,890,552","12,880,580"
19,.Indiana,"6,483,802","6,484,192","6,490,308","6,516,560","6,537,632","6,570,713","6,596,855"
20,.Iowa,"3,046,355","3,046,869","3,050,295","3,064,904","3,075,935","3,092,341","3,107,126"
21,.Kansas,"2,853,118","2,853,132","2,858,949","2,869,965","2,885,966","2,895,801","2,904,021"
22,.Kentucky,"4,339,367","4,339,349","4,349,838","4,370,038","4,383,465","4,399,583","4,413,457"
23,.Louisiana,"4,533,372","4,533,479","4,545,581","4,575,972","4,604,744","4,629,284","4,649,676"
24,.Maine,"1,328,361","1,328,361","1,327,361","1,327,930","1,328,592","1,328,702","1,330,089"
25,.Maryland,"5,773,552","5,773,785","5,788,101","5,843,833","5,891,819","5,938,737","5,976,407"
26,.Massachusetts,"6,547,629","6,547,817","6,564,073","6,612,270","6,655,829","6,708,874","6,745,408"
27,.Michigan,"9,883,640","9,884,133","9,876,498","9,875,736","9,884,781","9,898,193","9,909,877"
28,.Minnesota,"5,303,925","5,303,925","5,310,418","5,348,036","5,380,615","5,422,060","5,457,173"
29,.Mississippi,"2,967,297","2,968,103","2,970,811","2,978,464","2,986,137","2,992,206","2,994,079"
...,...,...,...,...,...,...,...,...
33,.Nevada,"2,700,551","2,700,692","2,703,493","2,718,586","2,755,245","2,791,494","2,839,099"
34,.New Hampshire,"1,316,470","1,316,466","1,316,517","1,318,109","1,321,297","1,322,616","1,326,813"
35,.New Jersey,"8,791,894","8,791,936","8,803,580","8,842,614","8,876,000","8,911,502","8,938,175"
36,.New Mexico,"2,059,179","2,059,192","2,064,950","2,078,407","2,084,594","2,086,895","2,085,572"
37,.New York,"19,378,102","19,378,112","19,400,867","19,521,745","19,607,140","19,695,680","19,746,227"
38,.North Carolina,"9,535,483","9,535,691","9,559,488","9,651,502","9,748,181","9,848,917","9,943,964"
39,.North Dakota,"672,591","672,591","674,345","685,242","701,705","723,857","739,482"
40,.Ohio,"11,536,504","11,536,725","11,540,070","11,544,757","11,550,901","11,572,005","11,594,163"
41,.Oklahoma,"3,751,351","3,751,616","3,759,481","3,786,527","3,817,059","3,853,118","3,878,051"
42,.Oregon,"3,831,074","3,831,073","3,837,083","3,867,644","3,898,684","3,928,068","3,970,239"
43,.Pennsylvania,"12,702,379","12,702,884","12,711,077","12,743,995","12,770,043","12,781,296","12,787,209"
44,.Rhode Island,"1,052,567","1,052,931","1,053,078","1,052,020","1,052,637","1,053,354","1,055,173"
45,.South Carolina,"4,625,364","4,625,401","4,636,290","4,673,054","4,722,621","4,771,929","4,832,482"
46,.South Dakota,"814,180","814,191","816,192","824,171","834,504","845,510","853,175"
47,.Tennessee,"6,346,105","6,346,275","6,356,628","6,398,389","6,455,177","6,497,269","6,549,352"
48,.Texas,"25,145,561","25,146,104","25,245,717","25,657,477","26,094,422","26,505,637","26,956,958"
49,.Utah,"2,763,885","2,763,885","2,774,346","2,815,324","2,855,194","2,902,787","2,942,902"
50,.Vermont,"625,741","625,745","625,792","626,450","626,138","626,855","626,562"
51,.Virginia,"8,001,024","8,001,023","8,025,376","8,110,188","8,193,422","8,270,345","8,326,289"
52,.Washington,"6,724,540","6,724,543","6,741,911","6,822,112","6,896,325","6,973,742","7,061,530"
53,.West Virginia,"1,852,994","1,853,033","1,854,176","1,854,982","1,856,313","1,853,595","1,850,326"
54,.Wisconsin,"5,686,986","5,687,289","5,689,268","5,708,785","5,724,888","5,742,953","5,757,564"
55,.Wyoming,"563,626","563,767","564,358","567,631","576,893","583,223","584,153"
56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,Puerto Rico,"3,725,789","3,726,157","3,721,527","3,686,771","3,642,281","3,595,839","3,548,397"
58,Note: The estimates are based on the 2010 Cens...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,Suggested Citation:,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,Table 1. Annual Estimates of the Resident Popu...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,"Source: U.S. Census Bureau, Population Division",NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,Release Date: December 2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [109]:
data = data.rename(columns={"Unnamed: 0": "State"})

In [110]:
data.head()

,State,Census,Estimates Base,2010,2011,2012,2013,2014
0,United States,"308,745,538","308,758,105","309,347,057","311,721,632","314,112,078","316,497,531","318,857,056"
1,Northeast,"55,317,240","55,318,348","55,381,690","55,635,670","55,832,038","56,028,220","56,152,333"
2,Midwest,"66,927,001","66,929,898","66,972,390","67,149,657","67,331,458","67,567,871","67,745,108"
3,South,"114,555,744","114,562,951","114,871,231","116,089,908","117,346,322","118,522,802","119,771,934"
4,West,"71,945,553","71,946,908","72,121,746","72,846,397","73,602,260","74,378,638","75,187,681"

In [111]:
data.tail(10)

,State,Census,Estimates Base,2010,2011,2012,2013,2014
53,.West Virginia,"1,852,994","1,853,033","1,854,176","1,854,982","1,856,313","1,853,595","1,850,326"
54,.Wisconsin,"5,686,986","5,687,289","5,689,268","5,708,785","5,724,888","5,742,953","5,757,564"
55,.Wyoming,"563,626","563,767","564,358","567,631","576,893","583,223","584,153"
56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,Puerto Rico,"3,725,789","3,726,157","3,721,527","3,686,771","3,642,281","3,595,839","3,548,397"
58,Note: The estimates are based on the 2010 Cens...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,Suggested Citation:,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,Table 1. Annual Estimates of the Resident Popu...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,"Source: U.S. Census Bureau, Population Division",NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,Release Date: December 2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [112]:
data = data.dropna()

In [113]:
data.tail(10)

,State,Census,Estimates Base,2010,2011,2012,2013,2014
47,.Tennessee,"6,346,105","6,346,275","6,356,628","6,398,389","6,455,177","6,497,269","6,549,352"
48,.Texas,"25,145,561","25,146,104","25,245,717","25,657,477","26,094,422","26,505,637","26,956,958"
49,.Utah,"2,763,885","2,763,885","2,774,346","2,815,324","2,855,194","2,902,787","2,942,902"
50,.Vermont,"625,741","625,745","625,792","626,450","626,138","626,855","626,562"
51,.Virginia,"8,001,024","8,001,023","8,025,376","8,110,188","8,193,422","8,270,345","8,326,289"
52,.Washington,"6,724,540","6,724,543","6,741,911","6,822,112","6,896,325","6,973,742","7,061,530"
53,.West Virginia,"1,852,994","1,853,033","1,854,176","1,854,982","1,856,313","1,853,595","1,850,326"
54,.Wisconsin,"5,686,986","5,687,289","5,689,268","5,708,785","5,724,888","5,742,953","5,757,564"
55,.Wyoming,"563,626","563,767","564,358","567,631","576,893","583,223","584,153"
57,Puerto Rico,"3,725,789","3,726,157","3,721,527","3,686,771","3,642,281","3,595,839","3,548,397"

In [115]:
import re

def clean_state(data):
    pattern = r"^[\.]"
    cleaned_string = re.sub(pattern, "", data)
    return cleaned_string

In [116]:
data["State"] = data["State"].apply(clean_state)

In [138]:
data = data.ix[5:]

In [140]:
data.tail(20)

,State,Census,Estimates Base,2010,2011,2012,2013,2014
37,New York,"19,378,102","19,378,112","19,400,867","19,521,745","19,607,140","19,695,680","19,746,227"
38,North Carolina,"9,535,483","9,535,691","9,559,488","9,651,502","9,748,181","9,848,917","9,943,964"
39,North Dakota,"672,591","672,591","674,345","685,242","701,705","723,857","739,482"
40,Ohio,"11,536,504","11,536,725","11,540,070","11,544,757","11,550,901","11,572,005","11,594,163"
41,Oklahoma,"3,751,351","3,751,616","3,759,481","3,786,527","3,817,059","3,853,118","3,878,051"
42,Oregon,"3,831,074","3,831,073","3,837,083","3,867,644","3,898,684","3,928,068","3,970,239"
43,Pennsylvania,"12,702,379","12,702,884","12,711,077","12,743,995","12,770,043","12,781,296","12,787,209"
44,Rhode Island,"1,052,567","1,052,931","1,053,078","1,052,020","1,052,637","1,053,354","1,055,173"
45,South Carolina,"4,625,364","4,625,401","4,636,290","4,673,054","4,722,621","4,771,929","4,832,482"
46,South Dakota,"814,180","814,191","816,192","824,171","834,504","845,510","853,175"
47,Tennessee,"6,346,105","6,346,275","6,356,628","6,398,389","6,455,177","6,497,269","6,549,352"
48,Texas,"25,145,561","25,146,104","25,245,717","25,657,477","26,094,422","26,505,637","26,956,958"
49,Utah,"2,763,885","2,763,885","2,774,346","2,815,324","2,855,194","2,902,787","2,942,902"
50,Vermont,"625,741","625,745","625,792","626,450","626,138","626,855","626,562"
51,Virginia,"8,001,024","8,001,023","8,025,376","8,110,188","8,193,422","8,270,345","8,326,289"
52,Washington,"6,724,540","6,724,543","6,741,911","6,822,112","6,896,325","6,973,742","7,061,530"
53,West Virginia,"1,852,994","1,853,033","1,854,176","1,854,982","1,856,313","1,853,595","1,850,326"
54,Wisconsin,"5,686,986","5,687,289","5,689,268","5,708,785","5,724,888","5,742,953","5,757,564"
55,Wyoming,"563,626","563,767","564,358","567,631","576,893","583,223","584,153"
57,Puerto Rico,"3,725,789","3,726,157","3,721,527","3,686,771","3,642,281","3,595,839","3,548,397"

In [141]:
data.index = data.pop("State")

In [143]:
data.head()

,Census,Estimates Base,2010,2011,2012,2013,2014
State,,,,,,,
Alabama,"4,779,736","4,780,127","4,785,822","4,801,695","4,817,484","4,833,996","4,849,377"
Alaska,"710,231","710,249","713,856","722,572","731,081","737,259","736,732"
Arizona,"6,392,017","6,392,310","6,411,999","6,472,867","6,556,236","6,634,997","6,731,484"
Arkansas,"2,915,918","2,915,958","2,922,297","2,938,430","2,949,300","2,958,765","2,966,369"
California,"37,253,956","37,254,503","37,336,011","37,701,901","38,062,780","38,431,393","38,802,500"

In [150]:
data.index = data.index.to_series().map(states)
data

,Census,Estimates Base,2010,2011,2012,2013,2014
State,,,,,,,
AL,"4,779,736","4,780,127","4,785,822","4,801,695","4,817,484","4,833,996","4,849,377"
AK,"710,231","710,249","713,856","722,572","731,081","737,259","736,732"
AZ,"6,392,017","6,392,310","6,411,999","6,472,867","6,556,236","6,634,997","6,731,484"
AR,"2,915,918","2,915,958","2,922,297","2,938,430","2,949,300","2,958,765","2,966,369"
CA,"37,253,956","37,254,503","37,336,011","37,701,901","38,062,780","38,431,393","38,802,500"
CO,"5,029,196","5,029,324","5,048,575","5,119,661","5,191,709","5,272,086","5,355,866"
CT,"3,574,097","3,574,096","3,579,345","3,590,537","3,594,362","3,599,341","3,596,677"
DE,"897,934","897,936","899,731","907,829","916,881","925,240","935,614"
DC,"601,723","601,767","605,210","620,427","635,040","649,111","658,893"
FL,"18,801,310","18,804,623","18,852,220","19,107,900","19,355,257","19,600,311","19,893,297"
GA,"9,687,653","9,688,681","9,714,464","9,813,201","9,919,000","9,994,759","10,097,343"
HI,"1,360,301","1,360,301","1,363,950","1,378,251","1,392,766","1,408,987","1,419,561"
ID,"1,567,582","1,567,652","1,570,639","1,583,780","1,595,590","1,612,843","1,634,464"
IL,"12,830,632","12,831,587","12,840,097","12,858,725","12,873,763","12,890,552","12,880,580"
IN,"6,483,802","6,484,192","6,490,308","6,516,560","6,537,632","6,570,713","6,596,855"
IA,"3,046,355","3,046,869","3,050,295","3,064,904","3,075,935","3,092,341","3,107,126"
KS,"2,853,118","2,853,132","2,858,949","2,869,965","2,885,966","2,895,801","2,904,021"
KY,"4,339,367","4,339,349","4,349,838","4,370,038","4,383,465","4,399,583","4,413,457"
LA,"4,533,372","4,533,479","4,545,581","4,575,972","4,604,744","4,629,284","4,649,676"
ME,"1,328,361","1,328,361","1,327,361","1,327,930","1,328,592","1,328,702","1,330,089"
MD,"5,773,552","5,773,785","5,788,101","5,843,833","5,891,819","5,938,737","5,976,407"
MA,"6,547,629","6,547,817","6,564,073","6,612,270","6,655,829","6,708,874","6,745,408"
MI,"9,883,640","9,884,133","9,876,498","9,875,736","9,884,781","9,898,193","9,909,877"
MN,"5,303,925","5,303,925","5,310,418","5,348,036","5,380,615","5,422,060","5,457,173"
MS,"2,967,297","2,968,103","2,970,811","2,978,464","2,986,137","2,992,206","2,994,079"
MO,"5,988,927","5,988,923","5,996,085","6,010,544","6,025,281","6,044,917","6,063,589"
MT,"989,415","989,417","990,575","997,661","1,005,163","1,014,864","1,023,579"
NE,"1,826,341","1,826,341","1,829,865","1,842,232","1,855,487","1,868,969","1,881,503"
NV,"2,700,551","2,700,692","2,703,493","2,718,586","2,755,245","2,791,494","2,839,099"
NH,"1,316,470","1,316,466","1,316,517","1,318,109","1,321,297","1,322,616","1,326,813"
NJ,"8,791,894","8,791,936","8,803,580","8,842,614","8,876,000","8,911,502","8,938,175"
NM,"2,059,179","2,059,192","2,064,950","2,078,407","2,084,594","2,086,895","2,085,572"
NY,"19,378,102","19,378,112","19,400,867","19,521,745","19,607,140","19,695,680","19,746,227"
NC,"9,535,483","9,535,691","9,559,488","9,651,502","9,748,181","9,848,917","9,943,964"
ND,"672,591","672,591","674,345","685,242","701,705","723,857","739,482"
OH,"11,536,504","11,536,725","11,540,070","11,544,757","11,550,901","11,572,005","11,594,163"
OK,"3,751,351","3,751,616","3,759,481","3,786,527","3,817,059","3,853,118","3,878,051"
OR,"3,831,074","3,831,073","3,837,083","3,867,644","3,898,684","3,928,068","3,970,239"
PA,"12,702,379","12,702,884","12,711,077","12,743,995","12,770,043","12,781,296","12,787,209"
RI,"1,052,567","1,052,931","1,053,078","1,052,020","1,052,637","1,053,354","1,055,173"
SC,"4,625,364","4,625,401","4,636,290","4,673,054","4,722,621","4,771,929","4,832,482"
SD,"814,180","814,191","816,192","824,171","834,504","845,510","853,175"
TN,"6,346,105","6,346,275","6,356,628","6,398,389","6,455,177","6,497,269","6,549,352"
TX,"25,145,561","25,146,104","25,245,717","25,657,477","26,094,422","26,505,637","26,956,958"
UT,"2,763,885","2,763,885","2,774,346","2,815,324","2,855,194","2,902,787","2,942,902"
VT,"625,741","625,745","625,792","626,450","626,138","626,855","626,562"
VA,"8,001,024","8,001,023","8,025,376","8,110,188","8,193,422","8,270,345","8,326,289"
WA,"6,724,540","6,724,543","6,741,911","6,822,112","6,896,325","6,973,742","7,061,530"
WV,"1,852,994","1,853,033","1,854,176","1,854,982","1,856,313","1,853,595","1,850,326"
WI,"5,686,986","5,687,289","5,689,268","5,708,785","5,724,888","5,742,953","5,757,564"
WY,"563,626","563,767","564,358","567,631","576,893","583,223","584,153"
PR,"3,725,789","3,726,157","3,721,527","3,686,771","3,642,281","3,595,839","3,548,397"

In [146]:
states = {
        'AK': 'Alaska',
        'AL': 'Alabama',
        'AR': 'Arkansas',
        'AS': 'American Samoa',
        'AZ': 'Arizona',
        'CA': 'California',
        'CO': 'Colorado',
        'CT': 'Connecticut',
        'DC': 'District of Columbia',
        'DE': 'Delaware',
        'FL': 'Florida',
        'GA': 'Georgia',
        'GU': 'Guam',
        'HI': 'Hawaii',
        'IA': 'Iowa',
        'ID': 'Idaho',
        'IL': 'Illinois',
        'IN': 'Indiana',
        'KS': 'Kansas',
        'KY': 'Kentucky',
        'LA': 'Louisiana',
        'MA': 'Massachusetts',
        'MD': 'Maryland',
        'ME': 'Maine',
        'MI': 'Michigan',
        'MN': 'Minnesota',
        'MO': 'Missouri',
        'MP': 'Northern Mariana Islands',
        'MS': 'Mississippi',
        'MT': 'Montana',
        'NA': 'National',
        'NC': 'North Carolina',
        'ND': 'North Dakota',
        'NE': 'Nebraska',
        'NH': 'New Hampshire',
        'NJ': 'New Jersey',
        'NM': 'New Mexico',
        'NV': 'Nevada',
        'NY': 'New York',
        'OH': 'Ohio',
        'OK': 'Oklahoma',
        'OR': 'Oregon',
        'PA': 'Pennsylvania',
        'PR': 'Puerto Rico',
        'RI': 'Rhode Island',
        'SC': 'South Carolina',
        'SD': 'South Dakota',
        'TN': 'Tennessee',
        'TX': 'Texas',
        'UT': 'Utah',
        'VA': 'Virginia',
        'VI': 'Virgin Islands',
        'VT': 'Vermont',
        'WA': 'Washington',
        'WI': 'Wisconsin',
        'WV': 'West Virginia',
        'WY': 'Wyoming'
}

states = {name: abbr for abbr, name in states.items()}

In [153]:
import locale
help(locale.atoi)

Help on function atoi in module locale:

atoi(str)
    Converts a string to an integer according to the locale settings.

In [184]:
data = data.applymap(locale.atoi)

In [192]:
data.iloc[2][0]

6392017

In [195]:
data.loc["AK"]["2011"]

722572

In [196]:
data

,Census,Estimates Base,2010,2011,2012,2013,2014
State,,,,,,,
AL,4779736,4780127,4785822,4801695,4817484,4833996,4849377
AK,710231,710249,713856,722572,731081,737259,736732
AZ,6392017,6392310,6411999,6472867,6556236,6634997,6731484
AR,2915918,2915958,2922297,2938430,2949300,2958765,2966369
CA,37253956,37254503,37336011,37701901,38062780,38431393,38802500
CO,5029196,5029324,5048575,5119661,5191709,5272086,5355866
CT,3574097,3574096,3579345,3590537,3594362,3599341,3596677
DE,897934,897936,899731,907829,916881,925240,935614
DC,601723,601767,605210,620427,635040,649111,658893
FL,18801310,18804623,18852220,19107900,19355257,19600311,19893297
GA,9687653,9688681,9714464,9813201,9919000,9994759,10097343
HI,1360301,1360301,1363950,1378251,1392766,1408987,1419561
ID,1567582,1567652,1570639,1583780,1595590,1612843,1634464
IL,12830632,12831587,12840097,12858725,12873763,12890552,12880580
IN,6483802,6484192,6490308,6516560,6537632,6570713,6596855
IA,3046355,3046869,3050295,3064904,3075935,3092341,3107126
KS,2853118,2853132,2858949,2869965,2885966,2895801,2904021
KY,4339367,4339349,4349838,4370038,4383465,4399583,4413457
LA,4533372,4533479,4545581,4575972,4604744,4629284,4649676
ME,1328361,1328361,1327361,1327930,1328592,1328702,1330089
MD,5773552,5773785,5788101,5843833,5891819,5938737,5976407
MA,6547629,6547817,6564073,6612270,6655829,6708874,6745408
MI,9883640,9884133,9876498,9875736,9884781,9898193,9909877
MN,5303925,5303925,5310418,5348036,5380615,5422060,5457173
MS,2967297,2968103,2970811,2978464,2986137,2992206,2994079
MO,5988927,5988923,5996085,6010544,6025281,6044917,6063589
MT,989415,989417,990575,997661,1005163,1014864,1023579
NE,1826341,1826341,1829865,1842232,1855487,1868969,1881503
NV,2700551,2700692,2703493,2718586,2755245,2791494,2839099
NH,1316470,1316466,1316517,1318109,1321297,1322616,1326813
NJ,8791894,8791936,8803580,8842614,8876000,8911502,8938175
NM,2059179,2059192,2064950,2078407,2084594,2086895,2085572
NY,19378102,19378112,19400867,19521745,19607140,19695680,19746227
NC,9535483,9535691,9559488,9651502,9748181,9848917,9943964
ND,672591,672591,674345,685242,701705,723857,739482
OH,11536504,11536725,11540070,11544757,11550901,11572005,11594163
OK,3751351,3751616,3759481,3786527,3817059,3853118,3878051
OR,3831074,3831073,3837083,3867644,3898684,3928068,3970239
PA,12702379,12702884,12711077,12743995,12770043,12781296,12787209
RI,1052567,1052931,1053078,1052020,1052637,1053354,1055173
SC,4625364,4625401,4636290,4673054,4722621,4771929,4832482
SD,814180,814191,816192,824171,834504,845510,853175
TN,6346105,6346275,6356628,6398389,6455177,6497269,6549352
TX,25145561,25146104,25245717,25657477,26094422,26505637,26956958
UT,2763885,2763885,2774346,2815324,2855194,2902787,2942902
VT,625741,625745,625792,626450,626138,626855,626562
VA,8001024,8001023,8025376,8110188,8193422,8270345,8326289
WA,6724540,6724543,6741911,6822112,6896325,6973742,7061530
WV,1852994,1853033,1854176,1854982,1856313,1853595,1850326
WI,5686986,5687289,5689268,5708785,5724888,5742953,5757564
WY,563626,563767,564358,567631,576893,583223,584153
PR,3725789,3726157,3721527,3686771,3642281,3595839,3548397

In [200]:
locale.atof("1,000.00")

1000.0